extends ../../app/pug/layout

block title
    | Документы

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="documents").content-wrapper
        +section-hero
            +block-hero(dataJson.documents.blockHero)

