.section-main {
    $root: &;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: remify(1920);
    padding: 0 remify(20);

    @include media-breakpoint-up(xl) {
        padding: 0 remify(40);
    }

    @include media-breakpoint-up(xxl) {
        padding: 0 remify(50);
    }

    &__heading {
        margin-bottom: remify(40);

        @include media-breakpoint-up(md) {
            margin-bottom: remify(50);
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(55);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(70);
            max-width: remify(1440);
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: remify(60);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(80);
        }
        @include media-breakpoint-up(lg) {
            max-width: remify(998);
            margin-left: auto;
            margin-right: auto;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: remify(100);
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(120);
            max-width: remify(1116);
        }
    }

    &__inner {
        width: 100%;
        margin: 0 auto;
        margin-bottom: remify(60);
        @include media-breakpoint-up(md) {
            max-width: remify(500);
            margin-bottom: remify(80);
        }

        @include media-breakpoint-up(xl) {
            max-width: remify(600);
            margin-bottom: remify(100);
        }

        @include media-breakpoint-up(xxl) {
            max-width: remify(665);
            margin-bottom: remify(120);
        }
    }
}
