mixin section-history(props)
    .section-history&attributes(attributes)(data-component='section-history')
        .section-history__content
            .section-history__top
                .section-history__indent
                    if (props.textIdent)
                        +text-indent(props.textIdent).text-indent--white
                .section-history__title
                    if (props.titleMain)
                        +title-main(props.titleMain).title-main--white
            .section-history__period
                if (props.cards)
                    .section-history__period-row
                        each card in props.cards
                            .section-history__period-row-item
                                if card.button
                                    +button-offcut(card.button)._is-active
                        .section-history__period-controls
                            .section-history__period-controls-button
                                if props.prevButton
                                    +button-icon(props.prevButton)(class='button-icon--white button-icon--sm slider-gallery__arrows-prev is-disabled')
                            .section-history__period-controls-button
                                if props.nextButton
                                    +button-icon(props.nextButton)(class='button-icon--white button-icon--sm slider-gallery__arrows-next')
            .section-history__bottom
                .section-history__bottom-title Учреждена компания ООО “ГЭС ПКОНСТРАКШН”
                .section-history__bottom-text Подписаны договоры с компанией “МР Групп” на строительство проекта “Жилой комплекс “JOIS”, с компанией «ИНГРАД» на строительство проекта “Жилой комплекс “FORIVER RESIDENCE”
                a.section-history__bottom-link(href='/') ЖК «Jois»
                    +svg('anchor-next')(class='section-history__bottom-link-icon')
                a.section-history__bottom-link(href='/') ЖК «FORIVER RESIDENCE»
                    +svg('anchor-next')(class='section-history__bottom-link-icon')
