mixin card-team(props)
    .card-team&attributes(attributes)(data-component='card-team')
        .card-team__content
            .card-team__image
                +picture({
                    classList: 'card-team__picture',
                    img: {
                        src: '../../assets/images/team-person.jpg'
                    }
                })
            .card-team__bottom Сонмез Хакан
        .card-team__hovered
