mixin card-team(props)
    .card-team&attributes(attributes)(data-component='card-team')
        .card-team__content
            .card-team__image
                +picture({
                    classList: 'card-team__picture',
                    img: {
                        src: '../../assets/images/team-person.jpg'
                    }
                })
            .card-team__name=props.name
            .card-team__job=props.job
            .card-team__detail
                span.card-team__detail-text Подробнее
                +svg('plus')(class="card-team__detail-icon")
        .card-team__hovered
