.card-team {
    $root: &;
    background: $white;
    border-radius: $border-radius-sm;
    background: $white;
    overflow: hidden;
    position: relative;
    padding: remify(20);
    width: 100%;
    height: 100%;
    min-height: remify(430);

    @include media-breakpoint-up(xl) {
        padding: remify(25);
    }

    @include media-breakpoint-up(xxl) {
        padding: remify(25);
        min-height: remify(474);
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        height: 100%;
    }

    &__hovered {
        pointer-events: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: $main-blue;
        transition: opacity $duration-fast $ease-default;
        #{$root}:hover & {
            opacity: 1;
        }
    }

    &__image {
        display: flex;
        margin-bottom: remify(20);

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(25);
        }
    }

    &__picture {
        position: relative;
        padding-top: calc(250 / 292 * 100%);
        width: 100%;
        overflow: hidden;
        border-radius: $border-radius-sm;

        > img {
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-family: $font-tt-firs-neue;
        line-height: 1.1;
        margin-bottom: remify(12);
        @include rem-adaptive-font(20, 20, 22, 24);

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(15);
        }
    }

    &__job {
        opacity: 0.6;
        font-size: remify(16);
        margin-bottom: auto;
    }

    &__detail {
        display: flex;
        align-items: center;
        margin-top: remify(12);

        @include media-breakpoint-up(xl) {
            margin-top: remify(15);
        }

        @media (pointer: fine) {
            display: none;
        }
    }

    &__detail-text {
        font-size: remify(16);
        margin-right: remify(8);
    }

    &__detail-icon {
        color: $main-blue;
        width: remify(16);
        height: remify(16);
    }
}
