extends ../../app/pug/layout

block title
    | Карьера

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="career")
        +section-hero(dataJson.career.sectionHero)
        +section-main(dataJson.career.sectionMain.workWithUs)
            +block-statistic(dataJson.career.blockStatistic)
        +section-main(dataJson.career.sectionMain.valuation)
            +block-solution(dataJson.career.blockSolution)
        +section-about(dataJson.career.sectionAbout)
        +section-main(dataJson.career.sectionMain.hr)
            +block-relation(dataJson.career.blockRelation)
