mixin card-statistic(props)
    .card-statistic&attributes(attributes)(data-component='card-statistic')
        if props.src
            .card-statistic__image
                +picture({
                    classList: 'card-statistic__image-picture',
                    img: {
                        src: props.src
                    }
                })
        .card-statistic__content
            .card-statistic__content-top
                if props.number
                    .card-statistic__content-top-number=props.number
                if props.topText
                    .card-statistic__content-top-text=props.topText
            if props.bottomText
                .card-statistic__content-bottom-text=props.bottomText
