extends ../../app/pug/layout

block title
    | ЖК «Преображенская площадь» 1 очередь

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="projects-view")
        +section-projects-hero(dataJson.projectsView.sectionProjectsHero)
        +section-main({ heading: dataJson.projectsView.blockHeading.projectsAbout })
        +section-stages(dataJson.projectsView.sectionStages)
        +section-main({ heading: dataJson.projectsView.blockHeading.media })
            +slider-gallery()
        +section-main({ heading: dataJson.projectsView.blockHeading.mediaAbout })
            +block-media(dataJson.projectsView.blockMedia)

