extends ../../app/pug/layout

block title
    | ЖК «Преображенская площадь» 1 очередь

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="projects-view")
        +section-projects-hero(dataJson.servicesView.sectionProjectsHero)

