extends ../../app/pug/layout

block title
    | ЖК «Преображенская площадь» 1 очередь 

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="projects-view").content-wrapper
        h1 projects-view

