-
    var menuList = [
        {
            title: 'О компании',
            href: '/company'
        },
        {
            title: 'Услуги',
            href: '/services'
        },
        {
            title: 'Проекты',
            href: '/projects'
        },
        {
            title: 'Карьера',
            href: '/career'
        },
        {
            title: 'Пресс-центр',
            href: '/press-center'
        },
        {
            title: 'Документы',
            href: '/documents'
        },
        {
            title: 'Контакты',
            href: '/contacts'
        }
    ]

mixin header-menu(props)
    ul.header-menu&attributes(attributes)(data-component='header-menu')
        each item in menuList
            li.header-menu__item
                a.header-menu__item-link(href=item.href)= item.title
