mixin header-menu(props)
    ul.header-menu&attributes(attributes)(data-component='header-menu')
        li.header-menu__item
            a.header-menu__utem-link(href="#") О компании
        li.header-menu__item
            a.header-menu__utem-link(href="#") Услуги
        li.header-menu__item
            a.header-menu__utem-link(href="#") Проекты
        li.header-menu__item
            a.header-menu__utem-link(href="#") Карьера
        li.header-menu__item
            a.header-menu__utem-link(href="#") Пресс-центр
        li.header-menu__item
            a.header-menu__utem-link(href="#") Документы
        li.header-menu__item
            a.header-menu__utem-link(href="#") Контакты
