.header-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    &__item {
        margin-right: remify(16);
    }

    &__link {
        color: $white;
        transition: color $duration-short $ease-default;

        &:hover,
        &:active {
            color: $white-70;
        }
    }
}
