.card-next {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    border-radius: $border-radius-md;
    background-color: $white;
    padding: remify(20);

    @include media-breakpoint-up(md) {
        background-image: url("../../assets/img/card-next-bg.svg");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 40%;
    }

    @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    @include media-breakpoint-up(xl) {
        padding: remify(25);
    }

    @include media-breakpoint-up(xxl) {
        padding: remify(30);
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md) {
            flex-basis: calc(40%);
            padding-right: remify(30);
        }

        @include media-breakpoint-up(xl) {
            flex-basis: calc(50%);
        }
    }

    &__image {
        overflow: hidden;
        margin-bottom: remify(30);
        border-radius: $border-radius-md;
        @include media-breakpoint-up(md) {
            flex-basis: calc(60%);
            margin: 0;
        }
        @include media-breakpoint-up(xl) {
            flex-basis: calc(50%);
        }
    }

    &__picture {
        display: flex;
        position: relative;
        padding-top: calc(203 / 295 * 100%);

        @include media-breakpoint-up(xl) {
            padding-top: calc(300 / 590 * 100%);
        }
        > img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__suptitle {
        text-transform: uppercase;
        font-size: remify(14);
        line-height: $line-height-second;
        margin-bottom: remify(10);
    }

    &__title {
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: 1;
        @include rem-adaptive-font(28, 32, 36, 40);
        margin-top: auto;
        display: flex;
        align-items: flex-end;
        transition: color $duration-fast $ease-default;
        #{$root}:hover & {
            color: $blue-hover-only;
        }
    }

    &__title-icon {
        width: remify(20);
        height: remify(20);
        color: $main-blue;
        transition: color $duration-fast $ease-default;
        margin-left: remify(12);
        margin-bottom: remify(6);
        #{$root}:hover & {
            color: $blue-hover-only;
        }
    }
}
