mixin geo-projects(props)
    .geo-projects&attributes(attributes)(data-component='geo-projects')
        +picture({
            classList: 'geo-projects__picture',
            img: {
                src: '../../assets/images/geo-projects.jpg'
            }
        })
