mixin block-solution(props)
    .block-solution&attributes(attributes)(data-component='block-solution')
        each card in props.cards
            .block-solution__item
                +row-solution(card)
