.block-solution {
    --block-solution-gap: #{remify(16)};
    $root: &;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        --block-solution-gap: #{remify(20)};
    }

    @include media-breakpoint-up(xl) {
        --block-solution-gap: #{remify(25)};
    }

    @include media-breakpoint-up(xxl) {
        --block-solution-gap: #{remify(30)};
    }

    &__item {
        position: relative;
        flex-basis: 100%;
        padding: var(--block-solution-gap) 0;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: $grey-60;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
        }
        &:last-child {
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: $grey-60;
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0;
            }
        }
    }
}
