mixin header(props)
    header.header&attributes(attributes)(data-component='header')
        .header__content
            a(href='/').header__logo
                span.header__logo-inner
                    +svg('logo')
            ul.header__menu
                each item in props.menuList
                    li.header__menu-item
                        a.header__menu-link(href=item.href)=item.linkText
            .header__button-menu
                +button-menu()
            .header__lang
                button.header__lang-button(type='button') ru
                    +svg('shewron-down').header__lang-button-icon
