mixin section-status(props)
    .section-status&attributes(attributes)(data-component='section-status')
        .section-status__content
            .section-status__title 404
            .section-status__text Похоже, мы не можем найти нужную вам страницу.  Но у нас есть много других полезных страниц
            +button-main({ text: 'Перейти на главную', href: '/' })(class="button-main--white")
