mixin section-hero-main(props)
    .section-hero-main&attributes(attributes)(data-component='section-hero-main')
        .section-hero-main__slider.swiper
            .section-hero-main__slides.swiper-wrapper
                each slide in props.slides
                    .section-hero-main__slide.swiper-slide
                        .section-hero-main__image
                            if slide.picture
                                +picture(slide.picture).section-hero-main__picture
            if props.content
                .section-hero-main__content
                    if props.content.title
                        .section-hero-main__title!= props.content.title
                    if props.content.events
                        .section-hero-main__content-events
                            each event in props.content.events
                                .section-hero-main__content-events-item
                                    +card-event(event)(class=event.classList)
            .section-hero-main__control
                button.section-hero-main__control-arrow.section-hero-main__control-arrow--prev(type='button')
                    if props.prevIcon
                        +svg(props.prevIcon)
                .section-hero-main__control-pagination
                button.section-hero-main__control-arrow.section-hero-main__control-arrow--next(type='button')
                    if props.nextIcon
                        +svg(props.nextIcon)
