mixin section-hero-main(props)
    .section-hero-main&attributes(attributes)(data-component='section-hero-main')
        .section-hero-main__slider.swiper
            .section-hero-main__slides.swiper-wrapper
                each slide in props.slides
                    .section-hero-main__slide.swiper-slide
                        .section-hero-main__image
                            +picture({
                                classList: 'section-hero-main__picture',
                                img: {
                                    src: slide.src
                                }
                            })
            .section-hero-main__content
                .section-hero-main__title Crafting excellence </br> with vision
                .section-hero-main__content-event
                    +card-event({
                        "textLabel": "новости",
                        "date": "25.08.2024",
                        "title": "Южный речной вокзал получил новую жизнь после реконструкции"
                    })
            .section-hero-main__control
                button.section-hero-main__control-arrow.section-hero-main__control-arrow--prev(type='button')
                    +svg('shewron-up')
                .section-hero-main__control-pagination
                button.section-hero-main__control-arrow.section-hero-main__control-arrow--next(type='button')
                    +svg('shewron-down')
