extends ../../app/pug/layout

block title
    | Документы

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="documents")
        +section-hero(dataJson.documents.sectionHero)
        +section-documents(dataJson.documents.sectionDocuments)
