.section-stages {
    $root: &;
    display: flex;
    flex-direction: column;
    margin: 0 auto remify(60);
    max-width: remify(1540);
    padding: 0 remify(20);
    align-items: baseline;

    @include media-breakpoint-up(md) {
        margin-bottom: remify(80);
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: remify(100);
        padding: 0 remify(40);
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: remify(120);
        padding: 0 remify(50);
    }

    &__indent {
        margin-bottom: remify(35);
        display: none;

        @include media-breakpoint-up(lg) {
            display: flex;
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(40);
        }
    }

    &__title {
        margin-bottom: remify(15);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(20);
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(60);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(70);
        }
    }

    &__text {
        font-size: remify(16);
        margin-bottom: remify(40);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(50);
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &__select {
        margin-bottom: remify(25);
        width: 100%;
        max-width: remify(320);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(30);
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(35);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(40);
        }
    }

    &__chips {
        margin-top: calc(-1 * #{remify(8)});
        display: flex;
        flex-wrap: wrap;
        margin-bottom: remify(15);
    }

    &__chips-item {
        margin-top: remify(8);
        margin-right: remify(8);
    }

    &__slider {
        display: flex;
        margin-bottom: remify(60);
        overflow: auto;
        width: 100%;
        margin-left: calc(-1 * #{remify(4)});
        margin-right: calc(-1 * #{remify(4)});
        @include media-breakpoint-up(md) {
            margin-bottom: remify(80);
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: remify(100);
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(120);
        }
    }

    &__slide {
        flex-basis: calc(100% / 4);
        padding: 0 remify(4);
        min-width: remify(300);
    }
}

