mixin section-hero-slider(props)
    .section-hero-slider&attributes(attributes)(data-component='section-hero-slider')
        .section-hero-slider__inner
            .section-hero-slider__slides
                .section-hero-slider__slide
                    .section-hero-slider__image
                        +picture({
                            classList: 'section-hero-slider__picture',
                            img: {
                                src: '../../assets/images/slider-hero/1.jpg'
                            }
                        })
            .section-hero-slider__content
                .section-hero-slider__title Crafting excellence </br> with vision
                .section-hero-slider__content-event
                    +card-event({
                        "textLabel": "новости",
                        "date": "25.08.2024",
                        "title": "Южный речной вокзал получил новую жизнь после реконструкции"
                    })
