.footer-menu {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    &__item {
        max-width: calc(100% / 3);
        flex-basis: calc(100% / 3);
        margin-bottom: remify(12);

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(15);
        }
    }

    &__link {
        font-weight: 500;
        transition: color $duration-short $ease-default;
        font-size: remify(16);
        &:hover {
            color: $black-60;
        }
    }
}
