mixin block-hero(props)
    .block-hero&attributes(attributes)(data-component='block-hero')
        if props.src
            .block-hero__image
                +picture({
                    classList: 'block-hero__picture',
                    img: {
                        src: props.src
                    }
                })
        .block-hero__title=props.title

