@import '../../components/common/header/header';
@import '../../components/common/footer/footer';
@import '../../components/ui/header-menu/header-menu';
@import '../../components/blocks/block-hero-slider/block-hero-slider';
@import '../../components/sections/section-hero/section-hero';
@import '../../components/ui/button-menu/button-menu';
@import '../../components/ui/title-main/title-main';
@import '../../components/sections/section-main/section-main';
@import '../../components/blocks/block-heading/block-heading';
@import '../../components/ui/button-main/button-main';
@import '../../components/blocks/card-projects/card-projects';
@import '../../components/blocks/block-projects/block-projects';
@import '../../components/sections/section-about/section-about';
@import '../../components/ui/text-indent/text-indent';
@import '../../components/ui/text-label/text-label';
@import '../../components/blocks/block-media/block-media';
@import '../../components/blocks/card-media/card-media';
@import '../../components/ui/footer-menu/footer-menu';
@import '../../components/blocks/block-statistic/block-statistic';
@import '../../components/blocks/card-statistic/card-statistic';
@import '../../components/blocks/slide-hero/slide-hero';
@import '../../components/blocks/block-hero/block-hero';
@import '../../components/blocks/row-solution/row-solution';
@import '../../components/blocks/block-solution/block-solution';
@import '../../components/sections/section-status/section-status';
@import '../../components/blocks/block-relation/block-relation';
@import '../../components/blocks/card-documents/card-documents';
@import '../../components/sections/section-documents/section-documents';
@import '../../components/blocks/block-team/block-team';
@import '../../components/blocks/card-team/card-team';
@import '../../components/sections/section-projects/section-projects';
