$font-manrope-name: 'Manrope';
$font-manrope: $font-manrope-name, Arial, sans-serif;

$fonts-manrope: (
    'Manrope-ExtraLight': 200,
    'Manrope-Light': 300,
    'Manrope-Regular': normal,
    'Manrope-Medium': 500,
    'Manrope-SemiBold': 600,
    'Manrope-Bold': 700,
    'Manrope-ExtraBold': 800
);

@each $font, $weight in $fonts-manrope {
    @font-face {
        font-family: $font-manrope-name;
        src: url('../../assets/fonts/#{$font}.ttf') format('truetype'),
            url('../../assets/fonts/#{$font}.woff') format('woff'),
            url('../../assets/fonts/#{$font}.woff2') format('woff2');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

$font-tt-firs-neue-name: 'TT Firs Neue';
$font-tt-firs-neue: $font-tt-firs-neue-name, Arial, sans-serif;

$fonts-tt-firs-neue: (
    'TT-Firs-Neue-Normal': normal,
);

@each $font, $weight in $fonts-tt-firs-neue {
    @font-face {
        font-family: $font-tt-firs-neue-name;
        src: url('../../assets/fonts/#{$font}.ttf') format('truetype'),
            url('../../assets/fonts/#{$font}.woff') format('woff'),
            url('../../assets/fonts/#{$font}.woff2') format('woff2');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}
