@mixin heading {
    font-weight: 400;
    line-height: $line-height-second;
    letter-spacing: $letter-spacing-second;
    font-family: $font-tt-firs-neue;
}

@mixin h1 {
    @include heading;
    @include rem-adaptive-font(40, 48, 64, 62);
    @include rem-fluid(margin-bottom, 50, 55, 60, 70);
}

@mixin h2 {
    @include heading;
    @include rem-adaptive-font(28, 32, 36, 40);
    @include rem-fluid(margin-bottom, 20, 20, 25, 30);
}

@mixin h3 {
    @include heading;
    @include rem-adaptive-font(32, 28, 26, 24);
    @include rem-fluid(margin-bottom, 15, 15, 20, 20);
}

@mixin h4 {
    @include heading;
    @include rem-adaptive-font(28, 26, 24, 22);
    @include rem-fluid(margin-bottom, 15, 15, 20, 20);
}

@mixin h5 {
    @include heading;
    @include rem-adaptive-font(24, 22, 20, 20);
    @include rem-fluid(margin-bottom, 15, 15, 20, 20);
}

@mixin h6 {
    @include heading;
    @include rem-adaptive-font(18, 18, 16, 16);
    @include rem-fluid(margin-bottom, 15, 15, 20, 20);
}

@mixin small {
    font-size: 0.875em;
}

// Заголовки
.h-1 {
    @include h1;
}

.h-2 {
    @include h2;
}

.h-3 {
    @include h3;
}

.h-4 {
    @include h4;
}

.h-5 {
    @include h5;
}

.h-6 {
    @include h6;
}

.subheading {
    @include small;
}
// Обычный текст

.paragraph {
    font-size: remify(16);
    margin-bottom: remify(16);
}

.ol-list {
    &:not(.list-unstyled) {
        margin-bottom: remify(16);
        padding-left: remify(24);
        @include rem-fluid(margin-bottom, 20, 20, 25, 30);

        ol,
        ul {
            margin-bottom: 0;
        }

        > li {
            margin-bottom: remify(14);
            padding-left: remify(12);

            > ol,
            > ul {
                &:first-of-type {
                    margin-top: remify(14);
                }
            }
        }
    }
    &.list-unstyled {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            padding: 0;
            margin: 0;
        }
    }
}

.ul-list {
    &:not(.list-unstyled) {
        margin-bottom: remify(16);
        padding-left: remify(12);
        @include rem-fluid(margin-bottom, 20, 20, 25, 30);

        ol,
        ul {
            margin-bottom: 0;
        }

        > li {
            margin-bottom: remify(14);
            padding-left: remify(12);
            > ol,
            > ul {
                &:first-of-type {
                    margin-top: remify(14);
                }
            }
            &::marker {
                content: "●";

                color: $main-blue;
            }
        }
    }

    &.list-unstyled {
        list-style: none;
        margin: 0;
        > li {
            padding: 0;
            margin: 0;
        }
    }
}
