$grid-columns: 24;
$col-width: 100vw / $grid-columns;

$offset-sides: (
    desktop: $col-width,
    tablet: $col-width * 1.125,
    mobile: 24px
);

$breakpoints: (
    xs: 375,
    sm: 640,
    md: 768,
    lg: 1024,
    xl: 1280,
    xxl: 1440,
    xxxl: 1600,
    fhd: 1920,
);

$color-base: $main-black;
$font-size-base: remify(16);
$line-height-base: 1.3;
$letter-spacing-second: -0.02em;
$line-height-second: 0.9;

$body-color: $color-base;
$body-bg: $color-bg;

// start ease

$ease-default: cubic-bezier(0.33, 1, 0.68, 1);

// end ease

// start durations

$duration-short: 0.25s;
$duration-fast: 0.4s;
$duration-normal: 0.8s;

// end durations

// start z-index

$zindex-absolute: 1000;
$zindex-sticky: 1001;
$zindex-fixed: 1002;
$zindex-modal: 1003;
$zindex-dropdown: 1004;
$zindex-toast: 1005;

// end z-index

// start border-radius

$border-radius: #{remify(15)};
$border-radius-md: #{remify(20)};
$border-radius-xl: #{remify(30)};
$border-radius-xxl: #{remify(40)};

// end border-radius
