.wysiwyg {
    h1,
    .h1 {
        @extend .h-1;
        small {
            @extend .subheading;
        }
    }

    h2,
    .h2 {
        @extend .h-2;
        small {
            @extend .subheading;
        }
    }

    h3,
    .h3 {
        @extend .h-3;
        small {
            @extend .subheading;
        }
    }

    h4,
    .h4 {
        @extend .h-4;
        small {
            @extend .subheading;
        }
    }

    h5,
    .h5 {
        @extend .h-5;
        small {
            @extend .subheading;
        }
    }

    h6,
    .h6 {
        @extend .h-6;
        small {
            @extend .subheading;
        }
    }

    p {
        @extend .paragraph;
    }

    // ordered list
    ol {
        @extend .ol-list;
    }

    // unordered list
    ul {
        @extend .ul-list;
    }

    ol ol,
    ul ul,
    ol ul,
    ul ol {

        margin-bottom: 0;

        &:not(.list-unstyled) {
            margin-bottom: 0;
        }
    }

    img {
        margin-bottom: remify(16);

        @include media-breakpoint-down(sm) {
            display: block;

            width: auto;
            margin-right: auto;
            margin-bottom: remify(12);
            margin-left: auto;
        }

        &.img-rounded {
            border-radius: $border-radius !important;
        }

        &.img-circle {
            border-radius: 50% !important;
        }

        &.img-fluid {
            max-width: 100%;
            height: auto;
        }

        &[align="left"],
        &.pull-left {
            float: left;

            margin-right: auto;
            margin-bottom: remify(16);

            @include media-breakpoint-down(sm) {
                display: block;
                float: none;

                margin-right: auto;
                margin-left: auto;
            }
        }

        &[align="right"],
        &.pull-right {
            float: right;

            margin-bottom: remify(16);
            margin-left: auto;

            @include media-breakpoint-down(sm) {
                display: block;
                float: none;

                margin-right: auto;
                margin-left: auto;
            }
        }

        &[align="center"],
        .text-center &,
        &.text-center {
            display: block;
            clear: both;

            margin-right: auto;
            margin-left: auto;
        }
    }

    picture {
        margin-bottom: remify(16);

        @include media-breakpoint-down(sm) {
            display: block;

            width: auto;
            margin-right: auto;
            margin-bottom: remify(12);
            margin-left: auto;
        }

        &.pull-left {
            float: left;

            margin-right: auto;
            margin-bottom: remify(16);

            @include media-breakpoint-down(sm) {
                float: none;

                margin-right: 0;
            }
        }

        &.pull-right {
            float: right;

            margin-bottom: remify(16);
            margin-left: auto;

            @include media-breakpoint-down(sm) {
                float: none;

                margin-left: 0;
            }
        }

        &.text-center {
            display: block;
            clear: both;

            margin-right: auto;
            margin-left: auto;
        }
    }
}
