$white: #FFFFFF;
$black: #000000;
$color-bg: #F6F7FC;
$grey: #CBCDE0;
$light-blue: #162CEE;
$main-black: #292B37;
$main-blue: #2A3AC6;
$blue-hover-only: #4B6FFF;
$ultra-black: #161721;
$black-30: rgba($main-black, 0.3);
$black-60: rgba($main-black, 0.6);
$white-30: rgba($white, 0.3);
$white-50: rgba($white, 0.5);
$white-70: rgba($white, 0.7);
$color-error: #F22C2B;

