$grid-columns: 24;
$col-width: 100vw / $grid-columns;

$offset-sides: (
    desktop: $col-width,
    tablet: $col-width * 1.125,
    mobile: 24px
);

$breakpoints: (
    xs: 375,
    sm: 640,
    md: 768,
    lg: 1024,
    xl: 1280,
    xxl: 1440,
    xxxl: 1600,
    fhd: 1920,
);

// start ease

$ease-default: cubic-bezier(0.33, 1, 0.68, 1);

// end ease

// start durations

$duration-short: 0.25s;
$duration-fast: 0.4s;
$duration-normal: 0.8s;

// end durations

// start z-index

$zindex-absolute: 1000;
$zindex-sticky: 1001;
$zindex-fixed: 1002;
$zindex-modal: 1003;
$zindex-dropdown: 1004;
$zindex-toast: 1005;

// end z-index
