mixin section-projects(props)
    section.section-projects&attributes(attributes)(data-component='section-projects')
        .section-projects__heading
            .section-projects__filters
            .section-projects__tabs
                .section-projects__tabs-button
                    +button-main({ text: 'text' })
                .section-projects__tabs-button
                    +button-main({ text: 'text' })
        .section-projects__content
            +block-projects(props.blockProjects)
            .section-projects__more
                +button-main({ text: props.textMore })
