mixin section-projects(props)
    section.section-projects&attributes(attributes)(data-component='section-projects')
        .section-projects__heading
            .section-projects__tabs
                .section-projects__tabs-item
                    +button-icon({ text: 'проекты', icon: 'squares' })(class='button-icon--white is-active')
                .section-projects__tabs-item
                    +button-icon({ text: 'карта', icon: 'map-balun' })(class='button-icon--white')
            .section-projects__filters
                .section-projects__filters-item
                    +select-custom({ controlText: 'категория', menuList: [
                        'Все', 'Коммерческие объекты', 'Инфраструктурные проекты', 'Развлекательные объекты', 'Жилые проекты', 'Муниципальные проекты'
                    ] })
                .section-projects__filters-item
                    +select-custom({ controlText: 'этап строительства', menuList: [
                        'Все', 'Коммерческие объекты', 'Инфраструктурные проекты', 'Развлекательные объекты', 'Жилые проекты', 'Муниципальные проекты'
                    ] })
        .section-projects__content
            +block-projects(props.blockProjects)
            .section-projects__more
                +button-main({ text: props.textMore })
