mixin block-media(props)
    .block-media&attributes(attributes)(data-component='block-media')
        .block-media__left
            +card-media({ labelClassList: 'text-label--white' })(class='card-media--white')
        .block-media__right
            +card-media({ labelClassList: 'text-label--dark' })


