.dropdown {
    $root: &;
    position: relative;

    &__button {
        display: flex;
        align-items: center;
        width: 100%;
        padding: remify(2.5) 0;
        color: $white;
        font-size: remify(16);
        text-transform: uppercase;
    }
    &__button-icon {
        width: remify(16);
        height: remify(16);
        margin-left: remify(4);
    }
}
