mixin card-media(props)
    .card-media&attributes(attributes)(data-component='card-media')
        if props.src
            .card-media__image
                +picture({
                    classList: 'card-media__image-picture',
                    img: {
                        src: props.src
                    }
                })
        .card-media__content
            .card-media__content-top
                .card-media__content-top-label
                    +text-label({ text: 'статья' })(class=props.labelClassList)
                .card-media__content-top-date=props.date
            .card-media__content-bottom
                a.card-media__content-bottom-title(href=props.href)=props.title
