.card-media {
    $root: &;
    height: 100%;
    width: 100%;
    background: $white;
    background-image: url("../../assets/images/bg/card-media.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 70%;
    overflow: hidden;
    border-radius: $border-radius-sm;
    position: relative;

    @include media-breakpoint-up(md) {
        border-radius: $border-radius-lg;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: remify(20);

        @include media-breakpoint-up(xl) {
            padding: remify(25);
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 2;
            height: 41%;
        }
        &::before {
            top: 0;
            background: linear-gradient(0, rgba(0, 20, 49, 0) 0%, #001431 100%);
        }

        &::after {
            bottom: 0;
            background: linear-gradient(
                180deg,
                rgba(0, 20, 49, 0) 0%,
                #001431 100%
            );
        }
    }

    &__image-picture {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content-top {
        display: flex;
        align-items: center;
    }
    &__content-top-label {
        margin-right: remify(15);
    }

    &__content-top-date {
        color: $black-60;
        line-height: 1.2;
        #{$root}--white & {
            color: $white;
        }
    }

    &__content-bottom-title {
        font-family: $font-tt-firs-neue;
        line-height: 1.1;
        @include rem-adaptive-font(20, 20, 22, 24);
        transition: color $duration-fast $ease-default;
        &::after {
            content: "";
            display: block;
            z-index: 3;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:hover {
            color: $black-60;
        }

        #{$root}--white & {
            color: $white;
            &:hover {
                color: $white-70;
            }
        }
    }
}
