mixin card-media(props)
    .card-media&attributes(attributes)(data-component='card-media')
        .card-media__content
            .card-media__content-heading
                .card-media__content-heading-label
                    +text-label({ text: 'статья' })(class=props.labelClassList)
                .card-media__content-heading-date 25.08.2024
            .card-media__content-text Южный речной вокзал получил новую жизнь после реконструкции
