mixin header(props)
    header&attributes(attributes).header
        a(href="/").header__logo
            span.header__logo-inner
                +svg('logo')
        .header__menu
            +header-menu()
