mixin header(props)
    header&attributes(attributes).header
        .header__content
            a(href="/").header__content-logo
                span.header__content-logo-inner
                    +svg('logo')
            .header__content-menu
                +header-menu()
            .header__content-button-menu
                +button-menu()
