.header {
    $root: &;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: var(--header-height);
    left: 0;
    right: 0;
    z-index: $zindex-fixed;
    padding-top: var(--offset-padding);
    padding-left: remify(20);
    padding-right: remify(20);

    @include media-breakpoint-up(xl) {
        padding-left: remify(40);
        padding-right: remify(40);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: remify(1440);
        width: 100%;
        height: 100%;
        align-items: flex-end;

        @include media-breakpoint-up(xl) {
           align-items: center;
        }
    }

    &__logo {
        text-decoration: none;
        line-height: 0;
        margin-right: remify(16);
        padding: remify(16) remify(20) remify(14);
        background: $white;
        border-radius: remify(56);
        display: flex;
        align-items: center;
        transition: background $duration-short $ease-default;

        @include media-breakpoint-up(md) {
            padding: remify(19) remify(24) remify(17);
        }

        @include media-breakpoint-up(xl) {
            padding: 0;
            background: transparent;
            border-radius: 0;
        }

        &:hover {
            background: $blue-hover-only;

            @include media-breakpoint-up(xl) {
                background: transparent;
            }
        }
    }

    &__logo-inner {
        color: $main-blue;
        transition: color $duration-short $ease-default;

        @include media-breakpoint-up(xl) {
            color: $white;
        }

        #{$root}__content-logo:hover & {
            color: $white;

            @include media-breakpoint-up(xl) {
                color: $white-70;
            }
        }

        > svg {
            width: remify(77);
            height: remify(20);

            @include media-breakpoint-up(md) {
                width: remify(92);
                height: remify(24);
            }
        }
    }

    &__menu {
        display: none;
        margin: 0 auto;

        @include media-breakpoint-up(xl) {
            display: flex;
        }
    }
    &__button-menu {
        @include media-breakpoint-up(xl) {
            display: none;
        }
    }
}
