.header {
    $root: &;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: var(--header-height);
    left: 0;
    right: 0;
    z-index: $zindex-fixed;
    padding-top: var(--offset-padding);

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: remify(1440);
        width: 100%;
        height: 100%;
        align-items: center;
    }
    &__content-logo {
        text-decoration: none;
        width: remify(104);
        height: remify(27);
        margin-right: remify(16);

    }

    &__content-logo-inner {
        color: $white;
        > svg {
            width: 100%;
            height: 100%;
        }
    }

    &__content-menu {
        margin: 0 auto;
    }
}
