.text-label {
    $root: &;
    border: 1px solid $white-50;
    border-radius: remify(80);
    text-transform: uppercase;
    font-size: remify(14);
    display: inline-block;
    color: $white;
    padding: remify(6) remify(16);

    &--white {
        border-color: $white;
    }

    &--dark {
        color: $black-60;
        border-color: $black-60;
    }
}
