extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +section-hero()
            +block-hero-slider()
        +section-main()
            +block-heading({
                textIndent: 'о компании',
                title: 'GES Construction – <span class="title-main__inner">высококвалифицированные профессионалы</span>, стремящиеся к достижению превосходства',
                linkText: 'о компании',
                href: '/company'
            })
