extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +section-hero
            +block-hero-slider
        +section-main
            .section-main__heading
                +block-heading(dataJson.blockHeading.index.company)
            .section-main__content
        +section-main
            .section-main__heading
                +block-heading(dataJson.blockHeading.index.project)
            .section-main__content
                +block-project(dataJson.blockProject.index)
