extends ../../app/pug/layout

block title
    | Политика в отношении обработки персональных данных

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="politic")
        +section-hero(dataJson.pressCenter.sectionHero)
        +section-main({ inner: true})
            .wysiwyg!=dataJson.politic.wysiwyg
