mixin animated-intersection(props)
    .animated-intersection&attributes(attributes)(data-component='animated-intersection')
        .animated-intersection__block
            if block
                block
