mixin button-menu(props)
    button(type="button").button-menu&attributes(attributes)(data-component='button-menu')
        span.button-menu__stroke
        span.button-menu__stroke
        span.visually-hidden Кнопка меню
