mixin block-hero-slider(props)
    .block-hero-slider&attributes(attributes)(data-component='block-hero-slider')
        .block-hero-slider__lides
            +slide-hero()
        .block-hero-slider__content
            .block-hero-slider__content-title Crafting excellence </br> with vision

