.section-status {
    $root: &;
    width: 100%;
    max-width: remify(1920);
    margin: 0 auto;
    padding: var(--offset-padding);
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: remify(665);

    @include media-breakpoint-up(md) {
        max-height: remify(720);
    }

    @include media-breakpoint-up(xl) {
        max-height: remify(998);
    }

    @include media-breakpoint-up(xxl) {
        max-height: remify(1080);
    }

    &__content {
        border-radius: $border-radius;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white;
        flex-grow: 1;
        padding: var(--header-height) remify(50);
        text-align: center;
        background: url("../../assets/img/section-status-bg-top.svg"),
            url("../../assets/img/section-status-bg-bottom.svg"),
            linear-gradient(0.31deg, #1a268a -16.38%, #2f41dd 99.6%);

        background-repeat: no-repeat;
        background-position: top right, bottom left;
        background-size: 50% 30%, 50% 30%, 100% 100%;
        @include media-breakpoint-up(md) {
            background-size: 40% 55%, 40% 55%, 100% 100%;
        }
    }

    &__title {
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: $line-height-second;
        @include rem-adaptive-font(100, 100, 115, 125);
        margin-bottom: remify(15);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(20);
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(25);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(30);
        }
    }

    &__text {
        max-width: remify(400);
        font-size: remify(16);
        margin-bottom: remify(15);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(20);
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(25);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(30);
        }
    }
}
