mixin section-about(props)
    section.section-about&attributes(attributes)(data-component='section-about')
        .section-about__content
            .section-about__description
                if props.textIndent
                    .section-about__description-indent
                        +text-indent(props.textIndent)(class='text-indent--white')
                .section-about__description-title!=props.title
                if props.text
                    .section-about__description-text=props.text
                if props.button
                    .section-about__description-button
                        +button-main(props.button)(class='button-main--white')
            .section-about__image
                if props.picture
                    +picture(props.picture).section-about__picture
