.footer {
    $root: &;
    max-width: remify(1920);
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--offset-padding) remify(29);
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        padding-bottom: remify(12);
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: remify(14);
    }

    @include media-breakpoint-up(xxl) {
        padding-bottom: remify(20);
    }

    &__left,
    &__right {
        width: 100%;
        max-width: 100%;
    }
    &__left {
        display: flex;
        flex-direction: column;
        margin-bottom: remify(8);
        border-radius: $border-radius-md;
        background-color: $main-blue;
        padding: remify(30) remify(24);
        background-image: url("../../assets/img/footer-bg.svg");
        background-repeat: no-repeat;
        background-position: remify(55) remify(37);
        background-size: remify(750) remify(390);
        @include media-breakpoint-up(md) {
            background-position: remify(320) center;
            background-size: remify(840) remify(450);
        }

        @include media-breakpoint-up(lg) {
            max-width: calc(25.5% - #{remify(8)});
            flex-basis: calc(25.5% - #{remify(8)});
            background-position: remify(35) remify(85);
            background-size: remify(540) remify(300);
            padding: remify(35) remify(24);
            margin-bottom: 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: remify(40) remify(32) remify(32);
        }
    }

    &__left-title {
        margin-bottom: remify(20);
        color: $white;
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: 1;
        @include rem-adaptive-font(24, 24, 28, 32);
    }

    &__left-button {
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }

    &__right {
        padding: remify(30) remify(24);
        border-radius: $border-radius-md;
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-up(lg) {
            max-width: calc(74.5% - #{remify(8)});
            flex-basis: calc(74.5% - #{remify(8)});
        }

        @include media-breakpoint-up(xl) {
            padding: remify(45) remify(24) remify(24);
        }

        @include media-breakpoint-up(xxl) {
            padding: remify(50) remify(32) remify(32);
        }
    }

    &__right-logo {
        width: 100%;
        max-width: 100%;
        margin-bottom: remify(45);
        @include media-breakpoint-up(lg) {
            max-width: 20%;
        }

        @include media-breakpoint-up(xl) {
            max-width: remify(220);
            margin-right: remify(50);
        }

        @include media-breakpoint-up(xxl) {
            margin-right: remify(100);
        }

        > svg {
            height: remify(27);
            width: remify(104);
            color: $main-blue;
            @include media-breakpoint-up(xxl) {
                height: remify(30);
                width: remify(117);
            }
        }
    }

    &__menu {
        width: 100%;
        max-width: 100%;
        margin-bottom: remify(50);

        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        @include media-breakpoint-up(lg) {
            max-width: 60%;
            margin-left: auto;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 60%;
            padding-right: 15%;
        }
    }

    &__menu-item {
        max-width: calc(100% / 3);
        flex-basis: calc(100% / 3);
        margin-bottom: remify(12);

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(15);
        }
    }

    &__menu-link {
        font-weight: 500;
        transition: color $duration-short $ease-default;
        font-size: remify(16);
        &:hover {
            color: $black-60;
        }
    }

    &__right-text {
        padding-right: remify(14);
        margin-bottom: remify(25);
        max-height: remify(35);
        overflow-y: auto;
        color: $black-60;
        line-height: 1.2;
        font-size: remify(12);
        @include media-breakpoint-up(lg) {
            max-width: 37.5%;
            order: 1;
            margin-bottom: 0;
            align-self: flex-end;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 45%;
        }
    }
    &__right-info {
        width: 100%;
        @include media-breakpoint-up(lg) {
            max-width: 30%;
            margin-right: auto;
        }

        @include media-breakpoint-up(xl) {
            max-width: remify(220);
            margin-right: remify(50);
        }

        @include media-breakpoint-up(xxl) {
            margin-right: remify(100);
        }
    }
    &__right-copyright,
    &__right-politic {
        line-height: 1.2;
        font-size: remify(12);
    }

    &__right-politic {
        transition: color $duration-short $ease-default;
        &:hover {
            color: $black-60;
        }
    }

    &__right-copyright {
        margin-bottom: remify(12);
        @include media-breakpoint-up(lg) {
            margin-bottom: remify(15);
        }
    }
    &__right-dev {
        width: remify(96);
        height: remify(14);
        align-self: flex-end;
        margin-left: auto;
        margin-bottom: remify(3);
        @include media-breakpoint-up(lg) {
            order: 2;
            margin-bottom: 0;
        }
        > svg {
            width: 100%;
            height: 100%;
        }
    }
}
