.slide-hero {
    $root: &;
    position: relative;

    width: 100%;
    display: flex;
    height: calc(100vh - var(--header-height));
    max-height: remify(704);
    min-height: remify(576);
    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;

        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
        }

        &::before {
            opacity: 0.4;
            height: remify(300);
            background: linear-gradient(
                180deg,
                #000916 0%,
                rgba(0, 9, 22, 0) 100%
            );
        }

        &::after {
            bottom: -50px;
            height: remify(300);
            background: linear-gradient(
                180deg,
                rgba(27, 29, 30, 0) 0%,
                #1b1d1e 100%
            );
        }
    }

    &__image-picture {
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 1;
        > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
