extends ../../app/pug/layout

block title
    | Контакты

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="contacts")
        +section-hero(dataJson.contacts.sectionHero)

