mixin card-about(props)
    .card-about&attributes(attributes)(data-component='card-about')
        if props.picture
            .card-about__image
                +picture(props.picture).card-about__picture
        .card-about__content
            .card-about__title!=props.title
            if props.textRows
                each item in props.textRows
                    if (item.text)
                        .card-about__text=item.text 
                            if (item.icon)
                                +svg(item.icon).card-about__text-icon
