mixin card-about(props)
    .card-about&attributes(attributes)(data-component='card-about')
        .card-about__content
            .card-about__title
                span.card-about__title-inner Коммерческие
                |  объекты
