.card-about {
    $root: &;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: $border-radius;
    padding: remify(20);
    min-height: remify(290);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 100%;
    @include media-breakpoint-up(md) {
        border-radius: $border-radius-md;
        min-height: remify(220);
    }

    @include media-breakpoint-up(xl) {
        border-radius: $border-radius-xl;
        padding: remify(30);
        min-height: remify(240);
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__title {
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: 1;
        margin-bottom: auto;
        @include rem-adaptive-font(24, 26, 28, 32);
        transition: color $duration-default $ease-default;
        #{$root}:hover & {
            color: $white;
        }
    }

    &__title-inner {
        color: $main-blue;
        transition: color $duration-default $ease-default;
        #{$root}:hover & {
            color: $white;
        }
    }

    &__text {
        display: flex;
        @include rem-adaptive-font(16, 16, 18, 18);
        line-height: 1.1;
        margin-top: remify(20);
        transition: color $duration-default $ease-default;

        @include media-breakpoint-up(xl) {
            margin-top: remify(15);
        }

        #{$root}:hover & {
            color: $white;
        }
    }
    &__text-icon {
        color: $main-blue;
        width: remify(14);
        height: remify(14);
        transition: color $duration-default $ease-default;
        margin-left: remify(8);
        margin-top: remify(3);

        #{$root}:hover & {
            color: $white;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        transition: opacity $duration-default $ease-default;
        opacity: 0;

        #{$root}:hover & {
            opacity: 1;
        }

        &::after, &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: remify(130);
            z-index: 2;
        }

        &::before {
            top: 0;
            background: linear-gradient(180deg, #000916 -62.12%, rgba(0, 9, 22, 0) 50%);

        }

        &::after {
            bottom: 0;
            background: linear-gradient(0, #000916 -62.12%, rgba(0, 9, 22, 0) 50%);
        }

    }
    &__picture {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
