mixin button-main(props)
    if props.href
        a.button-main&attributes(attributes)(
            data-component='button-main',
            href=props.href,
        )!=props.text
        if props.icon
            +svg(props.icon)(class="button-main__icon")
    else
        button.button-main&attributes(attributes)(
            data-component='button-main',
            type="button",
        )!=props.text
        if props.icon
            +svg(props.icon)(class="button-main__icon")
