extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +section-hero-slider
        +section-main({ heading: dataJson.index.blockHeading.company })
            +block-statistic(dataJson.index.blockStatistic)
        +section-main({ heading: dataJson.index.blockHeading.projects })
            +block-projects(dataJson.index.blockProjects)
        +section-about(dataJson.index.sectionAbout)
        +section-main({ heading: dataJson.index.blockHeading.media })
            +block-media(dataJson.index.blockMedia)
