extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +animated-intersection()
            +section-hero-main(dataJson.index.sectionHeroMain)
        +section-main(dataJson.index.sectionMain.company)
            +animated-intersection()
                +block-statistic(dataJson.index.blockStatistic)
        +section-main(dataJson.index.sectionMain.projects)
            +block-projects(dataJson.index.blockProjects)
        +animated-intersection()
            +section-about(dataJson.index.sectionAbout)
        +section-main(dataJson.index.sectionMain.media)
            +animated-intersection()
                +block-media(dataJson.index.blockMedia)
