extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +section-hero-main()
        +section-main(dataJson.index.sectionMain.company)
            +block-statistic(dataJson.index.blockStatistic)
        +section-main(dataJson.index.sectionMain.projects)
            +block-projects(dataJson.index.blockProjects)
        +section-about(dataJson.index.sectionAbout)
        +section-main(dataJson.index.sectionMain.media)
            +block-media(dataJson.index.blockMedia)
