.row-solution {
    $root: &;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    &__icon {
        display: flex;
        width: remify(35);
        height: remify(35);
        margin-bottom: remify(15);
        @include media-breakpoint-up(md) {
            min-width: remify(45);
            width: remify(45);
            height: remify(45);
            margin-bottom: 0;
            margin-right: remify(20);
        }

        @include media-breakpoint-up(xl) {
            min-width: remify(50);
            width: remify(50);
            height: remify(50);
            margin-right: remify(25);
        }

        @include media-breakpoint-up(xxl) {
            min-width: remify(55);
            width: remify(55);
            height: remify(55);
            margin-right: remify(32);
        }
    }

    &__title {
        margin-bottom: remify(12);
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: 1;
        @include rem-adaptive-font(24, 26, 28, 30);

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(15);
        }
    }

    &__text {
        font-size: remify(16);
        color: $black-60;
    }
}
