mixin slider(props)
    .slider&attributes(attributes)(data-component='slider')
        if props.mixinSlide
            .slider__list
                each slide in props.slides
                    .slider__slide
                        +#{props.mixinSlide}(slide)
        .slider__arrows
            +button-icon({ icon: 'arrow-prev' })(class='button-icon--white slider__arrows-prev is-disabled')
            +button-icon({ icon: 'arrow-next' })(class='button-icon--white slider__arrows-next')
