include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/header-menu/header-menu
include ../../components/sections/section-hero/section-hero
include ../../components/ui/button-menu/button-menu
include ../../components/ui/title-main/title-main
include ../../components/sections/section-main/section-main
include ../../components/blocks/block-heading/block-heading
include ../../components/ui/button-main/button-main
include ../../components/blocks/card-projects/card-projects
include ../../components/blocks/block-projects/block-projects
include ../../components/sections/section-about/section-about
include ../../components/ui/text-indent/text-indent
include ../../components/ui/text-label/text-label
include ../../components/blocks/block-media/block-media
include ../../components/blocks/card-media/card-media
include ../../components/ui/footer-menu/footer-menu
include ../../components/blocks/block-statistic/block-statistic
include ../../components/blocks/card-statistic/card-statistic
include ../../components/blocks/row-solution/row-solution
include ../../components/blocks/block-solution/block-solution
include ../../components/sections/section-status/section-status
include ../../components/blocks/block-relation/block-relation
include ../../components/blocks/card-documents/card-documents
include ../../components/sections/section-documents/section-documents
include ../../components/blocks/block-team/block-team
include ../../components/blocks/card-team/card-team
include ../../components/sections/section-projects/section-projects
include ../../components/sections/section-history/section-history
include ../../components/sections/section-hero-slider/section-hero-slider
include ../../components/blocks/block-esg/block-esg
include ../../components/blocks/card-press-center/card-press-center
include ../../components/sections/section-press-center/section-press-center
include ../../components/sections/section-contacts/section-contacts
