extends ../../app/pug/layout

block title
    | Проекты

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="projects").content-wrapper
        +section-hero
            +block-hero(dataJson.projects.blockHero)
        +section-main({})
            +block-projects(dataJson.projects.blockProjects)

