mixin block-relation(props)
    .block-relation&attributes(attributes)(data-component='block-relation')
        .block-relation__inner
            .block-relation__title=props.title
            .block-relation__subtitle=props.subtitle
            a.block-relation__link(href='mailto:' + props.email)=props.email
