mixin block-relation(props)
    .block-relation&attributes(attributes)(data-component='block-relation')
        .block-relation__inner
            .block-relation__title Хотите у нас работать?
            .block-relation__subtitle Отправьте нам свое резюме на почту
            a.block-relation__link(href='mailto:hr@gescons.ru') hr@gescons.ru
