.block-relation {
    $root: &;
    @include media-breakpoint-up(xl) {
        padding-left: 20%;
    }

    &__inner {
        border-radius: $border-radius;
        background: url("../../assets/img/block-relation-bg.svg"),
            linear-gradient(180deg, #3d4eea 0%, #2a3ac6 100%);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 100% 100%;
        padding: remify(20);

        @include media-breakpoint-up(md) {
            border-radius: $border-radius-md;
        }

        @include media-breakpoint-up(xl) {
            border-radius: $border-radius-xl;
            padding: remify(30);
        }

        @include media-breakpoint-up(xxl) {
            border-radius: $border-radius-xl;
        }
    }

    &__title {
        color: $white;
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: 1;
        @include rem-adaptive-font(28, 32, 36, 40);
        margin-bottom: remify(15);
        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(20);
        }
    }

    &__subtitle {
        color: $white-50;
        font-size: remify(16);
        margin-bottom: remify(35);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(40);
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: remify(45);
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(50);
        }
    }

    &__link {
        color: $white;
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: 1;
        @include rem-adaptive-font(24, 28, 28, 32);
        transition: color $duration-short $ease-default;
        &:hover {
            color: $white-50;
        }
    }
}
