extends ../../app/pug/layout

block title
    | Пресс-центр

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="press-center").content-wrapper
        +section-hero
            +block-hero(dataJson.pressCenter.blockHero)

