mixin slider-gallery(props)
    .slider-gallery&attributes(attributes)(data-component='slider-gallery')
        .slider-gallery__slides
            .slider-gallery__slide
                +picture({
                    classList: 'slider-gallery__slide-picture',
                    img: {
                        src: '../../assets/images/slider-gallery.jpg'
                    }
                })
        .slider-gallery__pagination
            button.slider-gallery__pagination-page(type='button').is-active
            button.slider-gallery__pagination-page(type='button')
            button.slider-gallery__pagination-page(type='button')
            button.slider-gallery__pagination-page(type='button')
        .slider-gallery__arrows
            +button-icon({ icon: 'arrow-prev' })(class='button-icon--white button-icon--sm slider-gallery__arrows-prev is-disabled')
            +button-icon({ icon: 'arrow-next' })(class='button-icon--white button-icon--sm slider-gallery__arrows-next')
