mixin block-contacts-geo(props)
    .block-contacts-geo&attributes(attributes)(data-component='block-contacts-geo')
        .block-contacts-geo__title
            if props.title
                +title-main(props.title)
        .block-contacts-geo__content
            if props.content
                .block-contacts-geo__content-refs
                    if props.content.mainLink
                        a.block-contacts-geo__content-refs-title(props.content.mainLink.href)= props.content.mainLink.text   
                    if props.content.links
                        each link in props.content.links
                            .block-contacts-geo__content-refs-block
                                if link.label
                                    .block-contacts-geo__content-refs-suptitle=link.label
                                if (link.text && link.href)
                                    a.block-contacts-geo__content-refs-contact(link.href)!= link.text
            .block-contacts-geo__content-map
                if props.picture
                    +picture(props.picture).block-contacts-geo__content-map-picture
