.section-projects-hero {
    $root: &;
    max-width: remify(1920);
    width: 100%;
    margin: 0 auto;
    padding: var(--offset-padding);
    margin-bottom: remify(60);

    @include media-breakpoint-up(md) {
        margin-bottom: remify(80);
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: remify(100);
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: remify(120);
    }

    &__inner {
        overflow: hidden;
        position: relative;
        min-height: remify(725);
        border-radius: $border-radius;
        width: 100%;
        @include media-breakpoint-up(md) {
            min-height: remify(1023);
        }

        @include media-breakpoint-up(xl) {
            min-height: remify(684);
            border-radius: $border-radius-xl;
        }

        @include media-breakpoint-up(xxl) {
            min-height: remify(704);
            border-radius: $border-radius-xxl;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 2;
    }

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
