include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/example/example
include ../../components/common/copyright-only/copyright-only
include ../../components/ui/header-menu/header-menu
include ../../components/sections/hero/hero
