include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/header-menu/header-menu
include ../../components/blocks/block-hero-slider/block-hero-slider
include ../../components/sections/section-hero/section-hero
include ../../components/ui/button-menu/button-menu
include ../../components/ui/title-main/title-main
include ../../components/sections/section-main/section-main
include ../../components/blocks/block-heading/block-heading
include ../../components/ui/button-main/button-main
include ../../components/blocks/card-project/card-project
include ../../components/blocks/block-project/block-project
include ../../components/sections/section-about/section-about
include ../../components/ui/text-indent/text-indent
include ../../components/blocks/block-event/block-event
include ../../components/ui/text-label/text-label
