include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/header-menu/header-menu
include ../../components/blocks/block-hero-slider/block-hero-slider
include ../../components/sections/section-hero/section-hero
include ../../components/ui/button-menu/button-menu
