.section-hero {
    $root: &;
    display: flex;
    width: 100%;
    padding: var(--offset-padding) var(--offset-padding) 0;
    margin-bottom:  remify(60);
    margin-left: auto;
    margin-right: auto;
    max-width: remify(1920);

    &__container {
        overflow-x: hidden;
        width: 100%;
        background: $main-blue;
        min-height: var(--header-height);
        border-radius: $border-radius-sm;
    }
}
