.section-hero {
    $root: &;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    padding: var(--offset-padding) var(--offset-padding) 0;
    margin-bottom:  remify(60);
    &__container {
        width: 100%;
        background: $brand;
        min-height: var(--header-height);
    }
}
