.feedback {
    --feedback-row-gap: #{remify(12)};
    $root: &;
    padding: remify(20);
    background-color: $white;
    border-radius: $border-radius-md;
    @include media-breakpoint-up(xl) {
        --feedback-row-gap: #{remify(15)};
        padding: remify(25);
    }

    @include media-breakpoint-up(xxl) {
        --feedback-row-gap: #{remify(20)};
        padding: remify(30);
    }
    &__title {
        font-family: $font-tt-firs-neue;
        line-height: 1.1;
        @include rem-adaptive-font(20, 20, 22, 24);
        margin-bottom: remify(15);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(20);
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(25);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(30);
        }
    }

    &__block {
        margin-bottom: remify(25);
        @include media-breakpoint-up(md) {
            margin-bottom: remify(30);
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: remify(35);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: remify(40);
        }
    }

    &__row {
        margin-top: calc(-1 * var(--feedback-row-gap));
        margin-left: calc(-0.5 * var(--feedback-row-gap));
        margin-right: calc(-0.5 * var(--feedback-row-gap));
    }

    &__col {
        flex: 0 0 auto;
        flex-basis: 100%;
        padding-left: calc(0.5 * var(--feedback-row-gap));
        padding-right: calc(0.5 * var(--feedback-row-gap));
        margin-top: calc(1 * var(--feedback-row-gap));

        &--md-6 {
            @include media-breakpoint-up(md) {
                flex-basis: 50%;
            }
        }
    }
}
