mixin slide-hero(props)
    .slide-hero&attributes(attributes)(data-component='slide-hero')
        .slide-hero__image
            +picture({
                classList: 'slide-hero__image-picture',
                img: {
                    src: '../../assets/images/slider-hero/1.jpg'
                }
            })
