-
    var listTabs = [
        {
            text: 'все',
            active: true
        },
        {
            text: 'рыба! реквизиты'
        },
        {
            text: 'клиентам'
        },
        {
            text: 'отчеты'
        },
        {
            text: 'информационная безлопасность'
        },
        {
            text: 'корпоративные документы'
        }
    ]

mixin section-documents(props)
    .section-documents&attributes(attributes)(data-component='section-documents')
        .section-documents__tabs
            each button in listTabs
                .section-documents__tabs-button
                    +button-main({ text: button.text })(class=button.active ? 'button-main--white is-active' : 'button-main--white')
        .section-documents__content
            each card in props.cards
                .section-documents__content-item
                    +card-documents(card)
        .section-documents__more
            +button-main({ text: 'загрузить еще' })
