mixin section-documents(props)
    .section-documents&attributes(attributes)(data-component='section-documents')
        .section-documents__tabs
            each tab in props.tabList
                .section-documents__tabs-button
                    +button-main({ text: tab.text })(class=tab.active ? 'button-main--white is-active' : 'button-main--white')
        .section-documents__content
            each card in props.cards
                .section-documents__content-item
                    +card-documents(card)
        .section-documents__more
            +button-main({ text: props.textMore })
