mixin block-heading(props)
    .block-heading&attributes(attributes)(data-component='block-heading')
        if props.textIndent
            .block-heading__indent
                +text-indent({ text: props.textIndent })
        .block-heading__content
            if props.title
                .block-heading__title
                    +title-main(props.title)
            if props.text
                .block-heading__text!=props.text
            if props.linkText && props.href
                .block-heading__button
                    +button-main({ text: props.linkText, href: props.href })
