extends ../../app/pug/layout

block title
    | О компании

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="about")
        +section-hero(dataJson.about.sectionHero)
        +section-main(dataJson.about.sectionMain.aboutUs)
            +block-about(dataJson.about.blockAbout)
        +section-main(dataJson.about.sectionMain.clients)
            +slider(dataJson.about.sliderBrand)
        +section-main(dataJson.about.sectionMain.tehnology)
            +block-solution(dataJson.about.blockSolution)
        +section-history(dataJson.about.blockHistory)
        +section-main(dataJson.about.sectionMain.team)
            +block-team(dataJson.about.blockTeam)
        +section-about(dataJson.about.sectionAbout)
        +section-main(dataJson.about.sectionMain.esg)
            +block-esg(dataJson.about.blockEsg)
