mixin block-statistic(props)
    .block-statistic&attributes(attributes)(data-component='block-statistic')
        each card in props.cards
            .block-statistic__item
                +card-statistic(card)(class=card.cardClassList)
