mixin footer(props)
    .footer&attributes(attributes)
        .footer__left
            .footer__left-title Ответим на ваши </br> вопросы
            .footer__left-button
                +button-main({ text: 'связаться с нами' })(class="button-main--white")
        .footer__right

