mixin footer(props)
    .footer&attributes(attributes)
        .footer__left
            .footer__left-title Ответим на ваши </br> вопросы
            .footer__left-button
                +button-main({ text: 'связаться с нами' })(class="button-main--white")
        .footer__right
            .footer__right-logo
                +svg('logo')
            .footer__right-menu
                +footer-menu
            .footer__right-text All the information posted is for information purposes only and under no circumstances is a public offer, defined by the provisions of the Civil Code of the Russian Federation, does not contain an accurate and complete description and characteristics of the object, and may be subject to change.
                | The user is notified that any materials posted on the website are the intellectual property of HPP Construction LLC (the right holder). The User has no right to perform any actions with the intellectual property objects without prior written permission of the right holder, otherwise, the right holder reserves the right to levy fines, stipulated by Russian legislation, as well as to apply to competent authorities for protection of their rights and legitimate interests.
            .footer__right-info
                .footer__right-info-copyright GES Construction © 2024
                a.footer__right-info-politic(href="/politic") Политика конфиденциальности
            .footer__right-dev
                +svg('dev-only')
