.block-hero {
    $root: &;
    background: $main-blue;
    overflow: hidden;
    border-radius: $border-radius-sm;
    background-color: $main-blue;
    min-height: remify(286);
    padding: var(--header-height) remify(20) remify(20);
    background-image: url("../../assets/img/block-hero.svg");
    background-repeat: no-repeat;
    background-position: left var(--header-height);
    background-size: 175% 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include media-breakpoint-up(md) {
        background-size: 140% 85%;
        min-height: remify(354);
    }

    @include media-breakpoint-up(xl) {
        padding: var(--header-height) remify(25) remify(25);
        background-size: 150% 80%;
        min-height: remify(400);
    }

    @include media-breakpoint-up(xxl) {
        padding: var(--header-height) remify(30) remify(30);
        min-height: remify(432);
    }

    &__title {
        position: relative;
        z-index: 2;
        color: $white;
        text-transform: uppercase;
        font-family: $font-tt-firs-neue;
        letter-spacing: $letter-spacing-second;
        line-height: $letter-height-second;
        @include rem-adaptive-font(40, 48, 54, 63);

        @include media-breakpoint-up(xl) {
            max-width: 70%;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
    }

    &__image-picture {
        width: 100%;
        height: 100%;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
