mixin block-team(props)
    .block-team&attributes(attributes)(data-component='block-team')
        .block-team__item
            +card-team()
        .block-team__item
            +card-team()
        .block-team__item
            +card-team()
