mixin block-team(props)
    .block-team&attributes(attributes)(data-component='block-team')
        if props.cards
            each card in props.cards
                .block-team__item
                    +card-team(card)
