extends ../../app/pug/layout

block title
    | Пресс-центр

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="press-center")
        +section-hero(dataJson.pressCenter.sectionHero)
        +section-press-center(dataJson.pressCenter.sectionPressCenter)
