.select-custom {
    $root: &;
    position: relative;
    width: 100%;
    &__control {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
        border-radius: remify(12);
        line-height: $line-height-second;
        padding: remify(20);
        text-transform: uppercase;
        font-size: remify(14);
    }

    &__control-icon {
        margin-left: remify(8);
        width: remify(20);
        height: remify(20);
    }
    &__menu {
        list-style: none;
        position: absolute;
        top: calc(#{remify(8)} + 100%);
        left: 0;
        background-color: $white;
        border-radius: remify(12);
        width: 100%;
        z-index: 1;
        display: none;
        flex-direction: column;
        padding: remify(25);
        #{$root}.is-active & {
            display: flex;
        }
    }
    &__menu-item {
        font-size: remify(14);
        transition: color $duration-fast $ease-default;
        margin-bottom: remify(15);

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: $main-blue;
        }
    }
}
